.headContainer
{
  width: 100vw;
  height: 100vh;
  background: hsl(223, 10%, 10%);
}
*:link
{
  text-decoration: none;
}

.headWrapper
{
  display: flex;
  padding: 20px; 
  background: hsl(223, 10%, 10%);
}
.hlogo
{
  width: 15vw;
  height: auto;
}
.fixing
{
  display: flex;
  gap: .9rem;
  padding-left: 1rem;
  flex-direction: column;
  background: hsl(223, 10%, 10%);
}

.extraWrapper{
  width: 50vw;
  display: flex;
  align-items: center;
  border-radius: 2.25rem;
  overflow: hidden;
  background: hsl(223, 10%, 10%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

.hinpute
{
  height: 37px;
  border: none;
  outline: none;
  padding: 15px 30px;
  font-size: 18px;
  padding: 2px 10px;
  background: hsl(223, 10%, 10%);
  color: #fff;
}

.headerSearch
{
  width: 2vw;
  height: 2vw;
  position: absolute;
  right: .9rem;
  cursor: pointer;
}

.cateContainer
{
  margin-top: 6px;
  display: flex;
  gap: .5rem;
}
@media screen and (max-width: 767px) {
.fixing
{
  padding-left: 0;
}
  .hlogo
{
  width: 56vw;
}
  .headerSearch 
  {
    width: 4vw;
    height: 4vw;
  }
  .headWrapper
  {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hinpute
  {
    width: 90vw;
  
  }
  .extraWrapper
  {
    width: 90vw;
  }
  .cateContainer
{
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
}